

:root,
:root[data-theme="light"] {

  --primary: hsl(145, 46%, 55%);
  --secondary: hsl(50, 35%, 86%);
  --background: hsl(27, 43%, 96%);
  --accent: hsl(31, 76%, 55%);
  --text: hsl(146, 11%, 25%);
  --muted: hsl(60, 50%, 50%);
  
  --system-primary: hsl(145, 51%, 65%);
  --system-secondary: hsl(47, 11%, 25%);
  --system-background: hsl(30, 11%, 10%);
  --system-accent: hsl(31, 86%, 55%);
  --system-text: hsl(145, 92%, 95%);
  --system-muted: hsl(60, 55%, 65%);
}

:root[data-theme="dark"] {
  --primary: var(--system-primary);
  --secondary: var(--system-secondary);
  --background: var(--system-background);
  --accent: var(--system-accent);
  --text: var(--system-text);
  --muted: var(--system-muted);
}

@media (prefers-color-scheme: dark) {
  :root,
  :root[data-theme="auto"] {
    --primary: var(--system-primary);
    --secondary: var(--system-secondary);
    --background: var(--system-background);
    --accent: var(--system-accent);
    --text: var(--system-text);

    
    --gradientAccentPrimary: linear-gradient(45deg, var(--accent), var(--primary));
    --gradientPrimaryAccent: linear-gradient(45deg, var(--primary), var(--accent));
    
    --gradientMutedPrimary: linear-gradient(45deg, var(--muted), var(--primary));
    --gradientPrimaryMuted: linear-gradient(45deg, var(--primary), var(--muted));
    
    --gradientAccentMuted: linear-gradient(45deg, var(--accent), var(--muted));
    --gradientMutedAccent: linear-gradient(45deg, var(--muted), var(--accent));
    
    --gradientAccentbackground: linear-gradient(45deg, var(--accent), var(--background));
    --gradientPrimaryBackground: linear-gradient(45deg, var(--primary), var(--background));
    --gradientMutedBackground: linear-gradient(45deg, var(--muted), var(--background));
    
  }
} 



















/* *:hover{
  outline: 1px solid yellowgreen;
} */
/* user-select: none; */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

/* html.transition,
html.transition *,
html.transition *::before,
html.transition *::before {
  transition: all .5s ease-in !important;
  transition-delay: 0 !important;
} */

*::-webkit-scrollbar {
  width: 1vh;
  height: 100%;
  background-color: var(--background);
}

/* *::-webkit-scrollbar-track {
} */

*::-webkit-scrollbar-thumb {
  border-radius: 1vh;
  background-color:  var(--secondary, hsl(209, 29%, 34%) );
}

*::selection {
  background: hsl(212, 11%, 35%);
  color: hsl(203, 51%, 92%);
}
/* ////////////////////////////////////////////////////////// */

html,
body {
  background-color: var(--background);
  /* --------- Font & Size */
  font-family: "Roboto Condensed", "Roboto", sans-serif, "Open Sans";
  --body-font-1: "Signika Negative", "Roboto Condensed", "Roboto" , sans-serif,
    "Open Sans";
  --body-font-2: "Patrick Hand", cursive;
  --body-font-3: "Gluten", cursive;

  /* min-height: 100dvh; */
}





h1,
h2,
h3,
h4,
h5 {
  font-family: var(--body-font-2), serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

i {
  user-select: none;
}

/* /////////////////////////////////////////////////////////////////////////////// */
/* ================== Responsive (Screen)  ============ Start === */
/* --------------------------------------------------Small Screens (Mobile Phones) */
@media screen and (max-width: 576px) {
  /* Styles for small screens */
  :root {
    --size : 576px ;
    font-size: 14px;
  }
  .container {
    width: var(--size)
  }
  .container-grid {
    grid-template-columns: 1fr;
  }
}
/* ------------------------------------------------------Medium Screens (Tablets): */
@media screen and (min-width: 577px) and (max-width: 992px) {
  /* Styles for medium screens */
  :root {
    --size : 992px;
    font-size: 14px;
  }
  .container {
    width: var(--size)
  }
}
/* -------------------------------------------Large Screens (Desktops and Laptops) */
@media screen and (min-width: 993px) {
  /* Styles for large screens */
  :root {
    --size : 993px ;
    font-size: 16px;
  }
  .container {
    width: var(--size)
  }
}
/* ------------------------------Extra Large Screens (Large Desktops and Monitors) */
@media screen and (min-width: 1200px) {
  /* Styles for extra large screens */
  :root {
    --size : 1200px;
    font-size: 18px;
  }
  .container {
    width: var(--size)
  }
}
/* ////////////////////////////////////////// Responsive (Screen)  ============ End === */
/* ////////////////////////////////////////// Responsive (Screen)  ============ End === */
.container {
  margin: 0 auto;
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}

/* =================================  Screen ============ End === */



.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* .box {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
} */

.wave{
  text-transform: none;
  background-color: transparent;
  position: absolute;
  width: 100%;
  bottom: -10%;
  user-select: none;
  pointer-events: none;
}
.wave .line{
  color: transparent !important;
  text-align: center;
  font-size: 3rem;
  text-decoration-color: var(--accent) ;  
  text-decoration-line: underline;
  text-decoration-style: wavy;
}


.spot{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  width: 0;
  height: 0;
  filter: blur(calc(var(--size) / 8));
  border-radius: 50%;
  border: calc(var(--size) / 6) dotted var(--accent);
  opacity: .3;
  pointer-events: none;
}

.spot-gradient{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  width: 0;
  height: 0;
  filter: blur(calc(var(--size) / 10));
  border-radius: 50%;
  border: calc(var(--size) / 4) solid transparent;
  border-left-color:   var(--hover);
  border-right-color:   var(--accent);  
  border-top-color:   hsl(83, 100%, 50%);
  border-bottom-color: hsl(187, 100%, 57%);
  opacity: .3;
  pointer-events: none;
}

/* .switch label {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 2rem;
  height: 2rem;
  user-select: none;
} */

/* .switch input[type='radio'] {
  width: 0;
  height: 0;
  display: none;
  visibility: hidden;
  appearance: none;
} */

/* ///////////////////////////////////////////////////////////////////////////// */
.glass {
  border: 1px solid hsla(0, 0%, 100%, 0.5);
  background-color: hsla(0, 0%, 100%, 0.05);
  backdrop-filter: blur(15px);
  box-shadow: 0 0 5px hsla(0, 0%, 100%, 0.2);
  overflow: hidden;
  cursor: pointer;
}

.glass::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: -100%;
  top: 0;
  background-image: linear-gradient(
    to right,
    transparent,
    hsl(0, 0%, 100%, 0.5),
    transparent
  );
  pointer-events: none;
}

.glass:hover::before {
  animation: hovers 0.3s linear forwards;
}

.b {
  width: 160px;
  padding: 0.5rem 1rem;
  background-color: var(--primary);
  color: var(--background);
  border-radius: 0.5rem;
  border: none;
  outline: none;
  align-self: end;
  transition: 0.07s linear;
  cursor: pointer;
}

@keyframes hovers {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(200%);
  }
}

@keyframes shadow {
  25.1%,
  30%,
  50%,
  70%,
  85.1%,
  90%,
  100% {
    color: #fff;
    /* border-style: solid; */
    outline-color: #fff;
    text-shadow: 0 0 5px hsl(182, 100%, 50%), 0 0 10px hsl(182, 100%, 50%);

  }
}
.text-shadow {
  animation: text 1s linear infinite;
}



@keyframes text {
  25.1%,
  30%,
  50%,
  70%,
  85.1%,
  90%,
  100% {
    color: var(--text);
    /* border-style: solid; */
    text-shadow: 0 0 5px var(--secondary), 0 0 10px var(--accent);
  }
}

@keyframes light {
  0% {
    opacity: 1;
  }

  30% {
    opacity: 1;
  }

  40% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}




/* Enable hover only on non-touch devices */

/* @media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
} */

/* svg{
  outline: 1px solid red;
} */
